<%= form_with url: model, scope: :profile do |f| %>

  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :location, "Location" %>
  <%= f.text_field :location %>

  <%= f.label :education, "Education" %>
  <%= f.select :education, ["High School", "Associate's Degree", "Bachelor's Degree", "Master's Degree", "Doctoral Degree"] %>

  <%= f.label :relationship_status, "Relationship Status" %>
  <%= f.select :relationship_status, ["Single", "In a Relationship", "Married"] %>

  <%= f.label :picture %>
  <%= f.file_field :picture %>

  <%= f.submit "Create Profile" %>
  
<% end %>