<div class="row mt-4 justify-content-center">
  <div class="col-5 px-3 py-3 shadow bg-white rounded">
    <%= form_with url: model, scope: :profile, method: method do |f| %>

      <div class="row">
        <div class="col mb-3">
          <%= f.label :location, "Location" %>
          <%= f.text_field :location, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col mb-3">
          <%= f.label :education, "Education" %>
          <%= f.select :education, ["High School", "Associate's Degree", "Bachelor's Degree", "Master's Degree", "Doctoral Degree"], {}, { class: "form-select" } %>
        </div>
      </div>

      <div class="row">
        <div class="col mb-3">
          <%= f.label :relationship_status, "Relationship Status" %>
          <%= f.select :relationship_status, ["Single", "In a Relationship", "Married"], {}, { class: "form-select" } %>
        </div>
      </div>

      <div class="row">
        <div class="col mb-3">
          <%= f.label :picture %>
          <%= f.file_field :picture, class: "form-control" %>
        </div>
      </div>

      <% if profile.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% profile.errors.each do |error| %>
              <li class="text-danger"><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col mb-3 text-end d-grid gap-2">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      </div>
      
    <% end %>
  </div>
</div>