<%= link_to "friends", user_friendships_path(@profile.user.id) %>
<% if @profile.user == current_user %>
  <%= link_to "friend requests", friend_requests_path %>
  <%= link_to "edit profile", edit_user_profile_path(@profile.user.id) %>
<% end %>

<% if @profile.picture.attached? %>
  <div class="profile-picture">
    <%= image_tag @profile.picture %>
  </div>
<% end %>

<div class="about">
  <%= @profile.user.name %>
  <%= @profile.location %>
  <%= @profile.education %>
  <%= @profile.relationship_status %>
</div>

<% if @profile.user == current_user %>
  <%= form_with model: [current_user, current_user.posts.new] do |f| %>
    <%= f.label :body %>
    <%= f.text_field :body %>

    <%= f.label :picture %>
    <%= f.file_field :picture %>
    
    <%= f.submit "create post" %>
  <% end %>
<% end %>

<% @profile.user.posts.reverse.each do |post| %>
  <div class="post" id=<%= post.id %>>

    <% if post.picture.attached? %>
      <%= image_tag post.picture %>
    <% end %>

    <%= post.body %>

    <% if current_user == post.user %>
      <%= link_to "edit", edit_post_path(post.id) %>
      <%= link_to "delete", post_path(post.id), method: :delete %>
    <% end %>

    likes: <%= post.likes.count %>

    <% if post.likers.include?(current_user) %>
      <%= link_to "unlike", like_path(post.likes.where(liker: current_user).first.id), method: :delete %>
    <% else %>
      <%= link_to "like", post_likes_path(post.id), method: :post %>
    <% end %>

    <% if post.comments.any? %>
      <% post.comments.each do |comment| %>
        <div class="comment" id=<%= comment.id %>>
          <%= comment.body %>
          <%= link_to comment.commenter.name, user_profile_path(comment.commenter.id) %>
          <% if current_user == comment.commenter %>
            <%= link_to "edit", edit_comment_path(comment.id) %>
            <%= link_to "delete", comment_path(comment.id), method: :delete %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <%= form_with model: [post, post.comments.new] do |f| %>
      <%= f.text_field :body %>

      <%= f.submit "comment"%>
    <% end %>

  </div>
<% end %>