<%= link_to "friends", friendships_path %>
<%= link_to "friend requests", friend_requests_path %>
<%= link_to "edit profile", edit_user_profile_path(@profile.user.id) %>

<% if @profile.picture.attached? %>
  <div class="profile-picture">
    <%= image_tag @profile.picture %>
  </div>
<% end %>

<%= @profile.location %>
<%= @profile.education %>
<%= @profile.relationship_status %>

<% if @profile.user == current_user %>
  <%= form_with model: [current_user, current_user.posts.new] do |f| %>
    <%= f.label :body %>
    <%= f.text_field :body %>

    <%= f.label :picture %>
    <%= f.file_field :picture %>
    
    <%= f.submit "create post" %>
  <% end %>
<% end %>

<% @profile.user.posts.reverse.each do |post| %>
  <div id=<%= post.id %>>
    <% if post.picture.attached? %>
      <%= image_tag post.picture %>
    <% end %>
    <%= post.body %>
    likes: <%= post.likes.count %>
    <% if post.likers.include?(current_user) %>
      <%= link_to "unlike", like_path(post.likes.where(liker: current_user).first.id), method: :delete %>
    <% else %>
      <%= link_to "like", post_likes_path(post.id), method: :post %>
    <% end %>
  </div>
<% end %>