<%= link_to "friends", user_friendships_path(@profile.user.id) %>
<% if @profile.user == current_user %>
  <%= link_to "friend requests", friend_requests_path %>
  <%= link_to "edit profile", edit_user_profile_path(@profile.user.id) %>
<% end %>

<% if @profile.picture.attached? %>
  <div class="profile-picture">
    <%= image_tag @profile.picture %>
  </div>
<% end %>

<div class="about">
  <%= @profile.user.name %>
  <%= @profile.location %>
  <%= @profile.education %>
  <%= @profile.relationship_status %>
</div>

<% if @profile.user == current_user %>
  <%= render partial: 'shared/posts/form', locals: { model: [current_user, current_user.posts.new], post: current_user.posts.new, redirect: "profile" } %>
<% end %>

<% @profile.user.posts.reverse.each do |post| %>
  <%= render partial: 'shared/posts/show', locals: { post: post, redirect: "profile" } %>
<% end %>