<div class="row">
  <div class="col-1 text-center">
    <%= image_tag comment.post.user.profile.picture.variant(resize_to_limit: [25,25]), class: "rounded-circle" %>
  </div>

  <div class="col bg-gray-200">
    <%= form_with model: model do |f| %>
      <div class="row bg-gray-200 rounded">
        <div class="col">
          <%= f.text_field :body, placeholder: "Write a comment...", class: "form-control-comment bg-gray-200" %>
          <%= f.hidden_field :redirect, value: redirect %>
        </div>
      </div>

      <%= f.submit class: "d-none" %>
    <% end %>
  </div> 

  <div class="col-2"></div>
   
</div>

