<div data-test="comment-<%= comment.id %>">
  <div class="row mb-3">
    <div class="col-1 text-center">
      <%= image_tag comment.commenter.profile.picture.variant(resize_to_limit: [25,25]), class: "rounded-circle" %>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-auto rounded bg-gray-200">

          <div class="row">
            <div class="col">
              <%= link_to comment.commenter.name, user_profile_path(comment.commenter.id), class: "link-dark" %>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col">
              <sub><%= time_tag comment.updated_at, class: "text-secondary" %></sub>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <%= comment.body %>
            </div>
          </div>
        </div>
        <% if current_user == comment.commenter %>
          <div class="col-2 text-start my-auto">
            <div class="row">
              <div class="col text-end">
                <%= link_to edit_comment_path(comment.id, comment: { redirect: redirect } ), data: { test: "edit-comment" }, class: "link-secondary" do %>
                  <i class="far fa-edit"></i>
                <% end %>
              </div>

              <div class="col text-start">  
                <%= link_to comment_path(comment.id, comment: { redirect: redirect } ), method: :delete, data: { confirm: "Are you sure?", test: "delete-comment" }, class: "link-secondary" do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </div>
            </div>
          </div>  
        <% end %>
      </div>
    </div>
  </div>
</div>