<div class="row">
  <div class="col d-flex justify-content-center mt-5">
    <% if profile.picture.attached? %>
      <%= image_tag profile.picture.variant(resize_to_limit: [250,250]), class: "rounded-circle"  %>
    <% end %>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-4"></div>

  <div class="col text-center my-3">
    <h2><%= profile.user.name %></h2>
  </div>

  <div class="col-4 my-auto text-start">
      <div class="row">

        <% if profile.user == current_user %>
          <%= link_to edit_user_profile_path(profile.user.id), data: { test: "edit-profile" }, class: "link-secondary" do %>
            <i class="far fa-edit"></i>
          <% end %>
        <% end %>

      </div>
    </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col text-end">
    <div class="row">
      <div class="col">
        Location:
      </div>
    </div>

    <div class="row">
      <div class="col">
        Education:
      </div>
    </div>

    <div class="row">
      <div class="col">
        Relationship Status:
      </div>
    </div>
  </div>

  <div class="col text-start">
    <div class="row">
      <div class="col">
        <%= profile.location %>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%= profile.education %>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%= profile.relationship_status %>
      </div>
    </div>
  </div>
</div>