<div class="incoming">
  <% @incoming_friend_requests.each do |ifr| %>
    <div id=<%= ifr.requestor.id %>>
      <%= ifr.requestor.name %>
      <%= link_to "accept", accept_friend_request_path(ifr.id), method: :delete %>
      <%= link_to "ignore", ignore_friend_request_path(ifr.id), method: :delete %>
    </div>
  <% end %>
</div>

<div class="sent">
  <% @sent_friend_requests.each do |sfr| %>
    <div id=<%= sfr.requestee.id %>>
      <%= sfr.requestee.name %>
    </div>
  <% end %>
</div>