<% @incoming_friend_requests.each do |ifr| %>
  <div data-test="incoming-friend-request-<%= ifr.id %>">
    <%= ifr.requestor.name %>
    <%= link_to "accept", accept_friend_request_path(ifr.id), method: :delete %>
    <%= link_to "ignore", ignore_friend_request_path(ifr.id), method: :delete %>
  </div>
<% end %>

<% @sent_friend_requests.each do |sfr| %>
  <div data-test="sent-friend-request-<%= sfr.id %>">
    <%= sfr.requestee.name %>
  </div>
<% end %>
