<div data-test="post-<%= post.id %>">

  <% if post.picture.attached? %>
    <%= image_tag post.picture.variant(resize_to_limit: [500,500]) %>
  <% end %>

  <%= post.body %>
  <%= post.user.name %>

  <% if current_user == post.user %>
    <%= link_to "edit", edit_post_path(post.id, post: { redirect: redirect } ) %>
    <%= link_to "delete", post_path(post.id, post: { redirect: redirect } ), method: :delete %>
  <% end %>

  likes: <%= post.likes.count %>

  <% if post.likers.include?(current_user) %>
    <%= link_to "unlike", like_path(post.likes.where(liker: current_user).first.id, redirect: redirect), method: :delete %>
  <% else %>
    <%= link_to "like", post_likes_path(post.id, redirect: redirect), method: :post %>
  <% end %>

  <% if post.comments.any? %>
    <% post.comments.each do |comment| %>
      <%= render partial: "shared/comments/show", locals: { comment: comment, redirect: redirect } %>
    <% end %>
  <% end %>

  <%= render partial: "shared/comments/form", locals: { model: [post, post.comments.new], comment: post.comments.new, redirect: redirect } %>

</div>