<!DOCTYPE html>
<html>
  <head>
    <title>Odinbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>

    <div class="nav">
      <% if current_user %>
        signed in as <%= link_to current_user.name, user_profile_path(current_user.id) %>
        <%= link_to "users", users_path %>
        <%= link_to "sign out", destroy_user_session_path, method: :delete %>
        <% if current_user.notifications.unacked.any? %>
          <b><%= link_to "notifications", user_notifications_path(current_user.id) %></b>
        <% else %>
          <%= link_to "notifications", user_notifications_path(current_user.id) %>
        <% end %>
      <% else %>
        <%= link_to "sign in", new_user_session_path %>
        <%= link_to "sign up", new_user_registration_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
